body, html {   
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   display:table;
}
body {
   display:table-cell;
   vertical-align:middle;
}
form {
   display:table;/* shrinks to fit content */
   margin:auto;
}

form div{
   margin: 15px 0px 0px 0px;
}

.google{
   margin: 15px 0px 0px 0px;
   width: 100%;
}

.signup{
   float: left;
}

.login{
   float: right;
}